<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Latency Measure</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <div class="container pl-0 pr-0">
      <div class="card" style="margin-top: 3rem;">
        <div class="row m-0 px-0 py-3">
          <div class="col-lg-12">
            <div class="entry-title h2">Measuring latency between hosts</div>
            <div id="pingcontainer">
              <p>Connected to Host <b><%=currenthost%></b></p>
              <p>Current Ping Client - Servers:</p>
              <script>
                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })
                const hosts =<%-JSON.stringify(hosts)%>;
                hosts.forEach(function (host) {
                  var tag = document.createElement("span");
                  tag.setAttribute("id", `span${host.name}`)
                  tag.innerHTML=`<b>${host.name}</b>: .. ms `;
                  var parent = document.getElementById("pingcontainer");
                  parent.appendChild(tag);
                })
                
                var sockets = []
                hosts.forEach(function (host) {
                  sockets.push(io(host.fqdn));
                })
                sockets.map(function (socket) {
                  setInterval(function() {
                    socket.emit('latency', Date.now(), function(startTime, host) {
                      var latency = Date.now() - startTime;
                      document.getElementById(`span${host}`).innerHTML = `<b>${host}</b>: ${latency} ms `;
                    });
                    socket.emit('newconnection', function(hostArr) {
                      let timingsTotal = 0
                      hostArr.entries.forEach(function (value) {
                        timingsTotal += value.timings.total
                        var content = document.getElementById(`${hostArr.host}-${value.endpoint}`);
                        content.setAttribute("data-original-title", `                        
                          <div class='text-left'><b>timing phases:</b><br/>
                          wait: <b>${value.timings.wait} ms</b><br/>
                          dns: <b>${value.timings.dns} ms</b><br/>
                          tcp: <b>${value.timings.tcp} ms</b><br/>
                          tls: <b>${value.timings.tls} ms</b><br/>
                          firstbyte: <b>${value.timings.firstByte} ms</b><br/>
                          download: <b>${value.timings.download} ms</b><br/>
                          <b>total: ${value.timings.total} ms</b><br/>`)
                          content.innerHTML = `${value.timings.total} ms`;
                      })
                      var totalDiv = document.getElementById(`${hostArr.host}-total`);
                      totalDiv.innerHTML = `${timingsTotal} ms`;
                    })
                  }, 5000);
                })
              </script>
            </div>
          </div>      
        </div>
        <div class="row mx-3 p-0" style="max-height: 100%">
            <div class="col-2 col-lg-2 m-0 p-1 text-center">
              <span class="font-weight-bold">hosts</span>
            </div>
            <% data.forEach(function (entry) { %> 
              <div class="col-2 col-lg-2 m-0 p-1 bg-primary text-center text-light"><%=entry.host%></div>
            <% }) %>  
            <div class="col-2 col-lg-2 m-0 p-1 text-center">
                <span class="font-weight-bold">total</span>
              </div>    
        </div>
        <% data.forEach(function (entry) { %>
          <div class="row mx-3 p-0" style="max-height: 100%">
            <div class="col-2 col-lg-2 m-0 p-1 bg-primary text-center text-light font-weight-bold"><%=entry.host%></div>
                <% entry.entries.forEach(function (value) { %>  
                  <% if(value.endpoint == entry.host) { %>
                    <div class="col-2 col-lg-2 m-0 p-1 bg-dark text-center text-light">
                      <span data-toggle="tooltip" class="font-weight-bold" data-html="true" id="<%=entry.host%>-<%=value.endpoint%>" title="<b>data incoming...</b>">...</span>
                    </div>
                  <% } else { %> 
                    <div class="col-2 col-lg-2 m-0 p-1 text-center">
                      <span data-toggle="tooltip" class="font-weight-bold" data-html="true" id="<%=entry.host%>-<%=value.endpoint%>" title="<b>data incoming...</b>">...</span>
                    </div>
                  <% } %>
                <% }) %>
                <div class="col-2 col-lg-2 m-0 p-1 bg-secondary text-center text-light font-weight-bold">
                  <span id="<%=entry.host%>-total">...</span>
                </div>
          </div>
              <% }) %>
        </div>
    </div>
  </body>
</html>