<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Latency Measure</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      const interval = setInterval(function() {
        socket.emit('latency', Date.now(), function(startTime) {
          var latency = Date.now() - startTime;
          document.getElementById("ping").innerHTML = latency;
        });
      }, 1000);
    </script>
    <div class="container pl-0 pr-0">
      <div class="card" style="margin-top: 3rem;">
        <div class="row m-0 px-0 py-3">
          <div class="col-lg-12">
            <h1 class="entry-title h2">Measuring latency between hosts</h1>
            <p>Current Ping Client - Server: <span id="ping">...</span>ms</p>
          </div>      
        </div>
        <div class="row m-0 px-0 py-3">
          <div class="col-lg-3 h6">host
          </div>  
          <div class="col-lg-3 h6">endpoint
          </div>  
          <div class="col-lg-1 h6">lookup
          </div>  
          <div class="col-lg-1 h6">socket
          </div>  
          <div class="col-lg-1 h6">conn.
          </div>  
          <div class="col-lg-1 h6">response
          </div>      
          <div class="col-lg-1 h6">total
          </div>          
          <div class="col-lg-1 h6">&nbsp;
          </div>      
        </div>
        <% arr.forEach(function (entry) { %>
        <div class="row m-0 px-0 py-3">
          <div class="col-lg-3 h6"><%=entry.host%>
          </div>  
          <div class="col-lg-3 h6"><%=entry.endpoint%>
          </div>  
          <div class="col-lg-1 h6"><%=entry.lookup%>
          </div>  
          <div class="col-lg-1 h6"><%=entry.socket%>
          </div>  
          <div class="col-lg-1 h6"><%=entry.connect%>
          </div>  
          <div class="col-lg-1 h6"><%=entry.response%>
          </div>      
          <div class="col-lg-1 h6"><%=entry.end%>
          </div>          
          <div class="col-lg-1 h6">&nbsp;
          </div>      
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>